@section css {
    <link rel="stylesheet" href="~/css/user.css" />
}
<h1 class="display-6">Bem Vindos!</h1>



<div class="container">
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>Somos a Evolução.</p>
        </blockquote>
    </figure>

    <div class="jumbotron">
        <h1 class="display-4">Sistema de Veículos</h1>
        <p class="lead">Aqui você encontra facilidade para cadastro de veículos, registro de manutençãoes e agendamento de manutenções além de realizar diversas pesquisas.</p>
    </div>
</div>

